# ===============================
# Maven
# ===============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Spring Boot
# ===============================
*.pid
*.seed
*.pid.lock

# ===============================
# Application config (secrets)
# ===============================
application.properties
application.yml

# (Optional: keep template instead)
!application-example.properties

#=============
.env
# ===============================
# IDE - IntelliJ
# ===============================
.idea/
*.iws
*.iml
*.ipr
out/

# ===============================
# IDE - VS Code
# ===============================
.vscode/

# ===============================
# Eclipse
# ===============================
.project
.classpath
.settings/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Java
# ===============================
*.class

# ===============================
# Node (if frontend inside project)
# ===============================
node_modules/

# ===============================
# Coverage / Reports
# ===============================
coverage/
*.coverage